body {
  overflow: hidden;
}
button {
  cursor: pointer;
}

.header-order {
  width: 100vw;
  height: 30vh;
}

.cart-content {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.cart-content button {
  padding: 15px;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.container-name {
  display: flex;
}

.container-name > h1 {
  margin-left: 10px;
}

.line-1 {
  width: 22px;
  height: 2px;
  background-color: #070648;
}

.line-2 {
  margin-top: 2px;
  width: 16px;
  height: 2px;
  background-color: #070648;
}

.form-header {
  margin: 0 auto;
  width: 93vw;
  margin-top: 20px;
}

.input.search {
  text-indent: 30px;
  width: 90%;
}

.btn-relative {
  position: relative;
  left: 28px;
  background-color: #f7f5f5;
  top: 5px;
  padding: 0px;
  cursor: pointer;
}

.atributes {
  position: relative;
  top: 15px;
  border-radius: 5px;
  background-color: #f7f5f5;
}

.atributes img {
  height: 40px;
}

.list {
  display: flex;
}

.nav-header {
  width: 90vw;
  margin: 0 auto;
}

.header-list {
  margin-top: 20px;
}

.header-list li {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0px 0px 1px #000;
  padding: 5px;
  font-size: 14px;
}

.header-list li:not(:last-child) {
  margin-right: 10px;
}

.main-header {
  width: 100vw;
}

.recommend-section,
.optios {
  width: 90vw;
  margin: 0 auto;
}

.recommend-section h2 {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  width: 190px;
}

.recommend-section h4 {
  margin-top: 10px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.box-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-img .hearth {
  align-self: flex-start;
  justify-self: baseline;
  width: 20px;
  background-color: #fff;
}
.combo-list li:not(:last-child),
.hottest-list li:not(:last-child) {
  margin-right: 20px;
}

.combo-list h3 a {
  color: #27214d;
  font-weight: 500;
  margin: 15px 0;
  font-size: 14px;
}

.combo-list li {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 30px 60px rgba(32, 32, 32, 0.05);
}

.optios {
  margin-top: 20px;
}

.optios-list {
  margin-bottom: 20px;
}

.optios-list li {
  font-size: 16px;
  line-height: 30px;
}

.optios-list li:not(:last-child) {
  margin-right: 20px;
}

.box-img-hott {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box-img-hott .hearth {
  background-color: #fef4f4;
  align-self: flex-start;
}

.hottest-list li {
  background-color: #fef4f4;
  border-radius: 5px;
  padding: 20px;
  height: 150px;
}

.hottest-list {
  align-items: flex-start;
}

.hottest-list h4 a {
  margin: 15px 0;
  font-weight: 500;
  font-size: 14px;
  color: #27214d;
}

.especifico .box-img-hott > img {
  width: 96px;
  height: 50.17px;
  align-self: flex-end;
}

.price {
  color: #f08626;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  .cart-content {
    width: 80vw;
  }
  .form-header {
    margin: 0;
  }
  .input.search {
    width: 80%;
  }
  .hottest-list li {
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .combo-list li:not(:last-child),
  .hottest-list li:not(:last-child) {
    margin-right: 10px;
  }
  .input.search {
    width: 75%;
  }
}

@media screen and (max-width: 285px) {
  .recommend-section,
  .optios {
    margin-left: 2px;
  }
}
