@font-face {
  font-family: "TT Norms Pro";
  src: url("./fonts/TT\ Norms\ Pro\ Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("./fonts/TT\ Norms\ Pro\ Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("./fonts/TT\ Norms\ Pro\ Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("./fonts/TT\ Norms\ Pro\ Thin.otf");
  font-weight: 300;
}

button {
  cursor: pointer;
}

body {
  background-color: #fff;
  font-family: "TT Norms Pro";
  color: #27214d;
}

a {
  text-decoration: none;
}

.content-index {
  justify-content: center;
  width: 100vw;
  align-items: center;
  height: 100vh;
  display: flex;
}

.header {
  height: 60vh;
  background-color: #ffa451;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.fruit {
  position: absolute;
  top: 50px;
  left: 550px;
}

.eclipse {
  position: absolute;
  top: 330px;
  left: 550px;
}

.main {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 90vw;
  padding: 0 15px;
  margin-top: 30px;
}

.title.first {
  font-weight: bold;
}

.title {
  margin-bottom: 10px;
}

.container-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #ffa451;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  width: 280px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  display: block;
}

.input {
  padding: 15px;
  border-radius: 5px;
  width: 240px;
  background-color: #f7f5f5;
}

.btn-price {
  border-radius: 100%;
  color: #ffa451;
  font-size: 20px;
  background-color: #ffe3c9;
}

.fixed {
  border-bottom: 2px solid #ffa451;
}

@media screen and (max-width: 1024px) {
  .fruit {
    top: 50px;
    left: 350px;
  }

  .eclipse {
    top: 340px;
    left: 350px;
  }
}

@media screen and (max-width: 780px) {
  .fruit {
    top: 55px;
    left: 230px;
  }

  .eclipse {
    top: 340px;
    left: 240px;
  }
}

@media screen and (max-width: 430px) {
  .fruit {
    top: 60px;
    left: 60px;
  }

  .eclipse {
    top: 340px;
    left: 67px;
  }
}

@media screen and (max-width: 380px) {
  .fruit {
    top: 110px;
    left: 100px;
  }

  .eclipse {
    top: 340px;
    left: 100px;
  }

  .header img {
    width: 240px;
  }
}

@media screen and (max-width: 330px) {
  .fruit {
    top: 160px;
    left: 40px;
  }

  .eclipse {
    top: 350px;
    left: 40px;
  }

  .header img {
    width: 200px;
  }
}

@media screen and (max-width: 285px) {
  .main {
    width: 90vw;
    padding: 0 0 0 15px;
  }

  .btn {
    width: 250px;
  }
}
