@font-face {
  font-family: "TT Norms Pro";
  src: url("./fonts/TT\ Norms\ Pro\ Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("./fonts/TT\ Norms\ Pro\ Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("./fonts/TT\ Norms\ Pro\ Medium.otf");
  font-weight: 500;
}

body {
  background-color: #fff;
  font-family: "TT Norms Pro";
}

a {
  text-decoration: none;
}

.content-index {
  justify-content: center;
  width: 100vw;
  align-items: center;
  height: 100vh;
  display: flex;
}

.header {
  height: 45vh;
  background-color: #ffa451;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100vw;

  margin-top: 30px;
}

.title.first {
  font-weight: bold;
}

.title {
  margin-bottom: 10px;
}

.container-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #ffa451;
  color: #fff;
  font-size: 16px;
  padding: 15px;
  width: 280px;
  text-align: center;
  margin-top: 40px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  display: block;
}

.input {
  padding: 15px;
  border-radius: 5px;
  width: 240px;
  background-color: #f7f5f5;
}
